<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>de</key>
	<array>
		<string>de德语</string>
		<string>de德语-German</string>
	</array>
	<key>he</key>
	<array>
		<string>he希伯来语</string>
		<string>he希伯来语-Hebrew</string>
	</array>
	<key>ar</key>
	<array>
		<string>ar阿拉伯语</string>
		<string>ar阿拉伯语-Arabic</string>
	</array>
	<key>es</key>
	<array>
		<string>es西班牙语</string>
		<string>es西班牙语-Spanish</string>
	</array>
	<key>da</key>
	<array>
		<string>da丹麦语</string>
		<string>da丹麦语-Danish</string>
	</array>
	<key>it</key>
	<array>
		<string>it意大利语</string>
		<string>it意大利语-Italian</string>
	</array>
	<key>sk</key>
	<array>
		<string>sk斯洛伐克语</string>
		<string>sk斯洛伐克语-Slovak</string>
	</array>
	<key>cs</key>
	<array>
		<string>cs捷克语</string>
		<string>cs捷克语-Czech</string>
	</array>
	<key>tr</key>
	<array>
		<string>tr土耳其语</string>
		<string>tr土耳其语-Turkish</string>
		<string>土耳其语Turkish</string>
	</array>
	<key>pl</key>
	<array>
		<string>pl波兰语</string>
		<string>pl波兰语-Polish</string>
	</array>
	<key>ru</key>
	<array>
		<string>ru俄语</string>
		<string>ru俄语-Russian</string>
	</array>
	<key>fr</key>
	<array>
		<string>fr法语</string>
		<string>fr法语-French</string>
	</array>
	<key>fi</key>
	<array>
		<string>fi芬兰语</string>
		<string>fi芬兰语-Finnish</string>
	</array>
	<key>nl</key>
	<array>
		<string>nl荷兰语</string>
		<string>nl荷兰语-Dutch</string>
	</array>
	<key>pt</key>
	<array>
		<string>pt葡萄牙语</string>
		<string>pt葡萄牙语-Portuguese</string>
	</array>
	<key>th</key>
	<array>
		<string>th泰语</string>
	</array>
	<key>sv</key>
	<array>
		<string>se</string>
		<string>se瑞典语</string>
		<string>se瑞典语-Swedish</string>
	</array>
	<key>nb</key>
	<array>
		<string>no</string>
		<string>no挪威语</string>
		<string>no挪威语-Norwegian</string>
	</array>
	<key>id</key>
	<array>
		<string>id</string>
		<string>id印尼语</string>
	</array>
	<key>en</key>
	<array>
		<string>en</string>
		<string>en英语</string>
		<string>en英语-English</string>
	</array>
	<key>zh-Hant</key>
	<array>
		<string>zh-Hant</string>
		<string>tw繁体中文</string>
		<string>tw</string>
		<string>繁體中文Chinese(traditional)</string>
	</array>
</dict>
</plist>
